.recommand-wrapper {
  display: flex;
  margin: 20px 35px;
  padding: 20px 0;
  flex-direction: column;
  .head-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    font-weight: 500;
    color: #333;
    //margin-bottom: 20px;
    .more {
      font-size: 24px;
      font-weight: 400;
      color: #ccc;
    }
    &.center {
      justify-content: center;
      margin-bottom: 10px;
    }
  }
  &--content {
    .good-item {
      display: flex;
      flex-direction: column;
      box-shadow: 0 0 10px rgba(0,0,0,.1);
      flex: 0 0 280px;
      padding: 20px 0;
      height: 360px;
      &-col {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
      }
      &-row {
        box-sizing: border-box;
        display: flex;
        flex-wrap: nowrap;
        column-gap: 20px;
        //height: 460px;
        width: 100%;
        align-items: center;
        padding: 20px;
        overflow-x: auto;
      }
      &--brand {
        display: flex;
        align-items: center;
        padding: 10px;
        justify-content: space-between;
        &__text {
          font-weight: 500;
          color: #333;
          font-size: 28px;
        }
      }
      &--title {
        display: flex;
        column-gap: 10px;
        align-items: center;
        font-size: 28px;
        color: #333;
        padding: 10px;
      }
      &--img {
        height: 280px;
        width: 100%;
      }
      &--price {
        padding: 0 10px;
        display: flex;
        column-gap: 10px;
        align-items: center;
      }
    }
  }
}
