.box {
  box-sizing: border-box;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
  border-radius: 10px;
  background: #fff;
}
.title {
  font-size: 30px;
  font-weight: 500;
  color: #333;
}
.desc {
  font-size: 28px;
  font-weight: 400;
  color: #888;
}
.txt-gray {
  color: #999;
}
